<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"  
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    
  <description>A webapp to manage the client invoicing app</description>
    
	<context-param>
	  <param-name>contextConfigLocation</param-name>
	  <param-value>/WEB-INF/config/applicationContext.xml</param-value>
	</context-param>
	
	<context-param>
	  <param-name>spring.profiles.active</param-name>
	  <param-value>production</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  
  <servlet>
    <servlet-name>clientRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>editClientRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>addClientRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>projectRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>addProjectRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>editProjectRequestHandler</servlet-name>
    <servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>clientRequestHandler</servlet-name>
    <url-pattern>/clients.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>editClientRequestHandler</servlet-name>
    <url-pattern>/edit_client.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>addClientRequestHandler</servlet-name>
    <url-pattern>/add_client.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>projectRequestHandler</servlet-name>
    <url-pattern>/projects.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>addProjectRequestHandler</servlet-name>
    <url-pattern>/add_project.html</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>editProjectRequestHandler</servlet-name>
    <url-pattern>/edit_project.html</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/jsp/error.jsp</location>
  </error-page>
    
</web-app>
